.align-left {
  justify-items: left;
}

.calculator {
  border: 1px solid blanchedalmond;
}

.display {
  overflow: hidden;
  text-overflow: ellipsis;
}

.pc {
  padding: 0 0 20px 0;
}
.panel {
  font-size: 13px;
  white-space: nowrap;
}

.sub-panel {
  word-break: break-all;
  font-size: 10px;
}
@media (min-width: 768px) {
  .button-size {
    width: 100px;
  }
  .panel {
    font-size: 20px;
    white-space: nowrap;
  }
  .sub-panel {
    font-size: 15px;
  }
  .calculator-size {
    width: 600px;
    margin: 0 auto;
  }
}
